<script src="https://giscus.app/client.js"
        data-repo="{{- .ctx.repo -}}"
        data-repo-id="{{- .ctx.repo_id -}}"
        data-category="{{- .ctx.category -}}"
        data-category-id="{{- .ctx.category_id -}}"
        data-mapping="{{- .ctx.mapping -}}"
        data-strict="{{- .ctx.strict -}}"
        data-reactions-enabled="{{- .ctx.reactions_enabled -}}"
        data-emit-metadata="{{- .ctx.emit_metadata -}}"
        data-input-position="{{- .ctx.position -}}"
        data-theme="{{- .ctx.theme -}}"
        data-lang="{{- .ctx.lang -}}"
        data-loading="{{- .ctx.loading -}}"
        crossorigin="{{- .ctx.crossorigin -}}"
        async>
</script>